<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>PYTHON</title>
</head>
<body>
    <h1>ÁGUA</h1>

    <p id="p1" onclick="changes()">oi</p>

    <p>Madeiro</p>
    <a href="{{ url_for('site2')}}">Clique aqui</a>
    

    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>